body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(120deg, #bfd1de, hsl(197, 60%, 87%));
  height: 100vh;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.center {
  width: 700px;
  height: 600px;

  margin: 6% auto;
  background: rgb(239, 239, 245);
  padding: 2px;
}
.box {
  width: 600px;
  margin: 5px auto;
  padding: 2px;
  border-radius: 10px;
}
.box h3 {
  color: rgb(76, 194, 244);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box h4 {
  color: rgb(26, 217, 48);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box p {
  color: rgb(146, 146, 192);
  font-family: "Times New Roman", Times, serif;
}
.division {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
header {
  padding: 0 15px;
  text-align: center;
  font-size: 21px;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0;
}
.column {
  flex: 1;
  padding: 55px;
  background: green;
  transition: 0.3s;
}
.column:first-child {
  margin-left: 0;
  background: rgb(99, 217, 178);
}
